@use '../variables';

.button {
    width: 100%;
    color: variables.$textColorSecondary;
    font-size: variables.$textFontSizeSmall;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;

    &--confirm {
        width: 25%;
        color: variables.$textColorPrime;
        background-image: variables.$bgColorButton;
        padding: 10px 24px;
        border-radius: 50px;
        border: none;

        &:active {
            transform: scale(0.95);
            transition: all 0.1s ease-in-out;
        }
    }
}