@use 'variables';

.event {
    padding: 5.6vw;

    .container {
        display: flex;
        gap: 4vw;
    }

    &--gradient-bot {
        background-image: variables.$bgColorToFooterGradient;
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    &__details {
        &__title {
            margin-bottom: 1vw;
        }
    }

    .title--left {
        text-align: right;
    }

    &__image {
        max-width: 40vw;
        border-radius: 10px;
    }

    @media (max-width: 1024px) {
        padding: 24px;

        .container {
            display: block;
        }

        &__details {
            margin-bottom: 24px;
            &__title {
                margin-bottom: 18px;
                text-align: center;
            }
        }

        &__image {
            max-width: 100%;
        }

        .title--left {
            text-align: left;
        }
    }
}