.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12vw;
    }

    &__logo {
        width: 8vw;
        min-width: 80px;
        max-width: 280px;
    }

    &__links {
        display: flex;
        gap: 8vw;
    }
}