$bgColorMain: #181818;
$bgColorFooter: #040404;
$bgColorButton: linear-gradient(90deg, #1473D0, #7D2843);
$bgColorGrayGradientTop: linear-gradient(to bottom, $bgColorMain, transparent);
$bgColorGrayGradientBot: linear-gradient(to top, $bgColorMain, transparent);
$bgColorToFooterGradient: linear-gradient(to top, $bgColorFooter, transparent);
$textColorPrime: #fff;
$textColorSecondary: #CFCFCF;
$textColorInsideGradient: radial-gradient(circle at center, $textColorPrime, $textColorPrime, #606060);
$textFontSize: clamp(18px, 1.7vw, 36px);
$textFontSizeSmall: clamp(14px, 1.2vw, 24px);
$textFontSizeBig: clamp(24px, 2.5vw, 52px);